<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video 13</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Hello video 13</h1>
    <h2>add css for this title</h2>

    <h2>Giá trị của message: <%= message %></h2>
    
    <br>

    <img src="image\4g-mobifone.png" alt="4g-mobifone">
</body>
</html>